:root {
    --color: #a5d7ae;
    --color2: #5f8d4e;
    --background2: #a4be7b;
    --background: rgb(211, 211, 211);
}

.header-container,
.header-items,
.header-items-mobile,
.header-searchBox {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
    box-shadow: 1px 1px 3px 1px rgb(230, 230, 230);
    position: relative;
    transition: transform 0.5s ease;
    z-index: 800;
    background-color: white;
}

.header-row {
    position: relative;
    width: 100%;
}

.header-items,
.header-items-mobile,
.header-searchBox {
    width: 90%;
    height: 50px;
    box-shadow: none;
}

.header-items button {
    position: absolute;
    top: 15px;
    left: -10px;
}

.header-items-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.ulHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    list-style: none;
    margin-right: -20px;
}

.ulHeader > li {
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

.ulHeader > li:hover {
    border-bottom: 3px solid var(--color);
    border-radius: 1px;
}

.logo {
    width: 110px;
    margin-left: -10px;
}

.loginBtn {
    font-family: vazir;
    border: none;
    background-color: var(--color);
    color: white;
    padding: 7px;
    border-radius: 3px;
    position: absolute;
    left: 10%;
    cursor: pointer;
}

.fa-user-lock,
.fa-user {
    margin-left: 7px;
}

.coursesMenu {
    position: relative;
}

.fa-chevron-down {
    padding: 6px;
}

.coursesMenu:hover {
    cursor: default;
}

.title-courses {
    cursor: pointer;
}

.fa-triangle {
    position: absolute;
    top: -11px;
    right: 30px;
    font-size: 14px;
    color: var(--background);
}

.dropDownMenu {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 42px;
    right: 0;
    box-shadow: 1px 1px 3px 1px gray;
    padding: 10px;
    font-size: 14px;
    width: 200px;
    background-color: var(--background);
    border-radius: 7px;
}

.dropDownMenu > span {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    margin: 10px;
    font-size: 10px;
    border-radius: 5px;
}

.dropDownMenu > span:hover {
    box-shadow: 1px 1px 3px 1px var(--color);
}

.fa-sellsy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.menu-icons {
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    transition: padding 0.5s ease;
}

.menu-icons > .fa-times {
    display: none;
}

.header-searchBox {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-right: 30px;
}

.header-searchBox i {
    cursor: pointer;
}

.header-searchBox input {
    outline: none;
    border: none;
    font-family: vazir;
    width: 70%;
    font-size: 20px;
}

@keyframes doing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .header-items {
        display: none;
    }
    .header-items-mobile {
        display: flex;

    }
    .header-items-mobile  .menu-icons{
        font-size: 18px;
    }
    .header-searchBox {
        display: none;
    }

    .logo {
        width: 70px;
        margin-right: -30px;
    }
}

@font-face {
    font-family: vazir;
    src: url(Vazir.woff);
}
