* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color: #a5d7ae;
    --color2: #5f8d4e;
    --background2: #a4be7b;
    --background: rgb(211, 211, 211);

    --color-gray :rgb(74, 74, 74);
}

html {
    overflow-x: hidden;
}

body {
    font-family: vazir;
    direction: rtl;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    pointer-events: auto;
    background-color: rgba(53, 53, 53, 0.77);
    transform: translate(0, 0);
    transition: all 0.5s;
}

.container {
    height: 100%;
    width: 100%;
}
.jsPic {
    padding: 20px 40px;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 700;
}

.top-bar {
    background-color: black;
    color: rgb(171, 171, 171);
    direction: ltr;
    transition: transform 0.5s ease;
    padding: 0 30px;
}

.top-bar-row {
    display: flex;
}

.top-bar-items {
    display: block;
}

.top-bar-items-mobile {
    display: none;
}

.top-bar-items ul,
.top-bar-items-mobile ul {
    display: flex;
    list-style: none;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 50px;
}

.top-bar-items ul li,
.top-bar-items-mobile ul li {
    margin-right: 30px;
    cursor: pointer;
}

.cart {
    position: relative;
}

.numCart {
    position: absolute;
    bottom: 8px;
    right: -10px;
    font-size: 10px;
    color: rgb(59, 59, 249);
}


.fa-close {
    display: none;
}

.imgBox {
    position: relative;
    display: 100%;
    transition: transform 0.5s ease;
}

.countdown-container {
    color: white;
    text-shadow: 2px 2px gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 50%);
}

.countdown-container h1 {
    width: 200%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.countdown-items {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.countdown-items div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.countdown-items div p {
    font-size: 50px;
}

.countdown-items div span {
    font-size: 25px;
}

.contents {
    height: 200vh;
    margin: 50px;
    transition: transform 0.5s ease;
}

/* برای دوره های پیشنهادی */

.sugs-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-sugs-courses {
    width: 60%;
    border-top: 4px dotted var(--color-gray);
    position: relative;
    color: var(--color-gray);
}

.header-sugs-courses span {
    position: absolute;
    background-color: white;
    padding: 0 20px;
    top: -5px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sugs-courses-items {
    /* border: 1px solid red; */
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugs-item {
    width: 22%;
    height: 100%;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid gray;
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    position: relative;
}

.sugs-item img{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.sugs-icons-box{
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10px;
  right: 10px;
  font-size: 15px;
}

.sugs-icons-box i{
    margin-top: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.sugs-icons-box i:hover{
    background-color: white;
    color: var(--color-gray);
}

.sugs-courses-title{
    font-size: small;
    margin: 6px;
}

.sugs-courses-teacher{
    font-size: small;
    margin: 5px 10px;
    text-align: left;
}

.sugs-courses-infos{
    font-size: small;
    border-top: 1px solid rgb(203, 203, 203);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    direction: ltr;
}



.sugs-item:hover{
    box-shadow: 1px 1px 4px 1px gray;
}

@media screen and (max-width: 900px) {
    .top-bar-items {
        display: none;
    }
    .top-bar-items-mobile {
        display: block;
    }
    .countdown-container {
        top: 6%;
        width: 30%;
    }
    .countdown-container h1 {
        font-size: 16px;
    }
    .countdown-items div p {
        font-size: 20px;
    }
    .countdown-items div span {
        font-size: 13px;
    }
    .sugs-icons-box i{
        font-size: 12px;
        width: 20px;
        height: 20px;
    }
    .sugs-courses-title {
        font-size: 11px;
    }
}
@font-face {
    font-family: vazir;
    src: url(Vazir.woff);
}
