* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color: #a5d7ae;
    --color2: #5f8d4e;
    --background2: #a4be7b;
    --background: rgb(211, 211, 211);

    --color-gray :rgb(74, 74, 74);
}

html {
    overflow-x: hidden;
}

body {
    font-family: vazir;
    direction: rtl;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    pointer-events: auto;
    background-color: rgba(53, 53, 53, 0.77);
    transform: translate(0, 0);
    transition: all 0.5s;
}

.container {
    height: 100%;
    width: 100%;
}
.jsPic {
    padding: 20px 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 700;
}

.top-bar {
    background-color: black;
    color: rgb(171, 171, 171);
    direction: ltr;
    transition: transform 0.5s ease;
    padding: 0 30px;
}

.top-bar-row {
    display: flex;
}

.top-bar-items {
    display: block;
}

.top-bar-items-mobile {
    display: none;
}

.top-bar-items ul,
.top-bar-items-mobile ul {
    display: flex;
    list-style: none;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 50px;
}

.top-bar-items ul li,
.top-bar-items-mobile ul li {
    margin-right: 30px;
    cursor: pointer;
}

.cart {
    position: relative;
}

.numCart {
    position: absolute;
    bottom: 8px;
    right: -10px;
    font-size: 10px;
    color: rgb(59, 59, 249);
}


.fa-close {
    display: none;
}

.imgBox {
    position: relative;
    display: 100%;
    transition: transform 0.5s ease;
}

.countdown-container {
    color: white;
    text-shadow: 2px 2px gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 50%);
}

.countdown-container h1 {
    width: 200%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.countdown-items {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.countdown-items div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.countdown-items div p {
    font-size: 50px;
}

.countdown-items div span {
    font-size: 25px;
}

.contents {
    height: 200vh;
    margin: 50px;
    transition: transform 0.5s ease;
}

/* برای دوره های پیشنهادی */

.sugs-courses-container,
.newest-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 130px;
}

.header-sugs-courses,
.header-new-courses {
    width: 60%;
    border-top: 4px dotted var(--color-gray);
    position: relative;
    color: var(--color-gray);
    margin: auto;
}

.header-sugs-courses span,
.header-new-courses span {
    position: absolute;
    background-color: white;
    padding: 0 20px;
    top: -5px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sugs-courses-items,
.new-courses-items {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateX(-120%);
}


sug-item{
    width: 22%;
}

.fa-chevron-up{
    font-size: 20px;
    background-color: gray;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    position: fixed;
    left: 20px;
    bottom: 50px;
}

@keyframes show {
    0%{
        opacity: 0;
    transform: translateX(-120%);
    }
    80%{
        opacity: 0.8;
        transform: translateX(70px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 900px) {
    .top-bar-items {
        display: none;
    }
    .top-bar-items-mobile {
        display: block;
    }
    .top-bar-items-mobile ul{
        margin-left: -12px;
    }
    .countdown-container {
        top: 26px;
        width: 90%;
        text-shadow: 1px 0px gray;
    }
    .countdown-container h1 {
        font-size: 12px;
    }
    .countdown-items div{
        width: 8%;
    }
    .countdown-items div p {
        font-size: 15px;
    }
    .countdown-items div span {
        font-size: 10px;
    }
    .header-sugs-courses span{
        font-size: small;
    }
    sug-item{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    sug-item{
        width: 90%;
    }
    .header-sugs-courses{
        width: 80%;
        border-width: 1px;
    }

    .header-sugs-courses span{
        padding: 0;
    }
    .sugs-courses-container{
        justify-content: center;
    }
    .sugs-courses-items{
        padding-right: 20px;
        width: 110%;
        animation: show 0.9s forwards;
    }
}
@font-face {
    font-family: vazir;
    src: url(Vazir.woff);
}
